<div class="portfolio-wrapper">
  <div class="left" ng-attr-style="width: {{(vm.getConfigObject('portfolio3').screenWidth - vm.getConfigObject('portfolio3').gap) / 2 }}px;">
    <img ng-src="{{vm.getConfigObject('portfolio3').leftImageUrl}}" alt="">
  </div>
  <div class="right" ng-attr-style="width: {{(vm.getConfigObject('portfolio3').screenWidth - vm.getConfigObject('portfolio3').gap) / 2 }}px;">
    <img ng-src="{{vm.getConfigObject('portfolio3').rightImageUrl}}" alt="">
  </div>
</div>
